table {
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: antiquewhite;
    color: black;
}

td {
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
}
/*Используем псевдокласс nth-child со значениями чётный, нечётный */
tr:nth-child(even) td:nth-child(odd) {
    background-color: chocolate;
}

tr:nth-child(odd) td:nth-child(even) {
    background-color: chocolate;
}

tr:last-child td:nth-child(odd),
tr:first-child td:nth-child(even) {
    background-color: antiquewhite; /*закрасим тёмные элементы нулевой и девятой строк в светлый */
}

tr:nth-child(even) td:first-child {
    background-color: antiquewhite; /*закрасим тёмные элементы нулевых ячеек в светлый */
}

tr:nth-child(odd) td:last-child {
    background-color: antiquewhite; /*закрасим тёмные элементы девятых ячеек в светлый */
}
